footer { 
    background-color:#000000;
    color:#FFF;
    padding-top: 10px;
    margin-top:30px;
    box-shadow: 1px 2px 3px 4px	
    #c2c2c2;
}
.tittle_section{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    }
                        /* Contact */
.contact_section{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
                        /* Menu */
div.list_menu{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.home{
    font-weight: bolder;
}
                        /* link - menu */
div a{
    text-decoration: none;
    color: #FFF;
}
div a:hover{
    text-decoration: none;
    color: #FFF;
}
div a:visited{
    text-decoration: none;
    color: #FFF;   
}

                        /* SocialMedia */
.instagram{
    width: 60px;
    height: 60px;
}
.pinterest{
    width: 60px;
    height: 60px;
}
.facebook{
    width: 60px;
    height: 60px;
}

                        /* Responsive */
@media(max-width: 575px){
    footer{
        height: 620px;
    }
    .social_media{
        margin-top: 15px;
        text-align: center;
       }   
}
@media(min-width:576px){
    footer{
        height: 300px;
    }
    .social_media{
        margin-top: 0px;
        }
}
@media(min-width:768px){
    footer{
        padding-top: 20px;
        height: 270px;
    }
    .social_media{
        margin-top: 50px;
        }
}